// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

// Bootstrap
$primary: #333333;
$secondary: #f55247;

@import 'bootstrap/scss/bootstrap';

.navbar {
    height: 5rem;
    padding: 0;

    &-brand {
        align-items: center;
        background-color: var(--bs-primary);
        display: flex;
        height: 5rem;
        justify-content: center;

        .logo {
            height: 1.5rem;
        }
    }
}

.file-tree {
    list-style: none;
    margin-bottom: 0;

    &:not(&--child) {
        padding-left: 0;
    }

    &--child {
        padding-left: 1.5rem;
    }

    ul {
        display: flex;
        gap: 0.25rem;
        flex-direction: column;
    }

    li {
        display: flex;
        gap: 0.25rem;
        flex-direction: column;

        > span, a {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.875em;

            i:not(.file-tree-action) {
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        > a {
            text-decoration: none;
        }
    }
}
